.AppContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.HeadingContainer {
  margin-top: 5vh;
  & h1 {
    font-weight: bold;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 36px;
  }
  & img {
    height: 200px;
  }
}

.QuestionInput {
  width: 100%;
}

.AskContainer {
  margin: 1rem auto;
  max-width: 600px;

  & .Buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }
}

.AskButton {
  color: white;
  background: black;
}

.LuckyButton {
  background: #eee;
  color: black;
}

.AnswerContainer, .ResetButton {
  margin-top: 1rem;
  display: block;
  text-align: left;
}

.Description {
  display: block;
  text-align: left;
  margin-bottom: 1rem;
}

.Credits,
.Description {
  color: #777;
}
